*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background: #ffffff;
    color: black;
    font-family: 'Alegreya Sans',sans-serif;
    margin: 0;
    box-sizing: border-box;
 
}
h1, h2, h3{
    text-align: center;

    color: black;
    padding-top: 2%;
}
p{
    line-height: 130%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}

img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

header{
    padding-top: -5px;  
    background-color: #ffffff;
    width: 100%;
    height: 86px;
    position: fixed;

}
.header-inner{
    max-width: 1200px;
    margin: 0 auto;
}
#logo{
    margin: 20px;
    float: left;
    width: 200px;
    height: 50px;
    background: url(../img/logoterrazas.fw.png) no-repeat center;
}
nav{
    float: right;
    padding: 25px 20px 0 0;
}
#menu-icon{
    position: relative;
    display: hidden;
    width: 45px;
    height: 40px;
    background: url(../img/navbar.png) center;
}

a:hover#icono-menu{
    border-radius: 4px 4px 0 0;

}
ul{
    list-style-type: none;
}
nav ul li{
    font-size: 100%;
    display: inline-block;
    
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

nav ul li a:hover{
    color: #a89e9e;
    text-decoration: none;

}

.current{
    color: #a89e9e;

}

/* fin de la decoracion de la navegacion*/


/*Inicio del slider*/

    .bodyslider{
        background: rgb(253, 254, 255);
        margin: 0;
        padding: 0;
        
    }
    
    .contenedor-slider {
        margin: auto;
        width: 100%;
        overflow: hidden;
    }
    
    .slider {
        display: flex;
        width: 300%;
    }
    
    .slider__section {
        width: 100%;
    }
    
    .slider__img {
        display: block;
        width: 100%;
        height: 100%;
    }
  
    .btn-prev, .btn-next {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
  }
  
  .btn-prev:hover, .btn-next:hover {
    background: white;
  }
  
  .btn-prev {
    left: 10px;
  }
  
  .btn-next {
    right: 10px;
  }


/*fin slider*/
 .acercade{
     text-align: center;
     padding-left: 15%;
     padding-right: 15%;
     font-size: 120%;
 }
.space{
     padding-top: 25px;
     padding-bottom: 27px;
 }
.space2{
    padding-top:86px;
}
.contenido{
    padding-top: 70px;
}

#habitaciones{
    padding-bottom: 25px;

}

.limpiar{
    clear: both;
}

.inner-wrapper{
    float: left;
    width: 100%;
}
.inner-wrapper-2{
    float: right;
    width: 100%;
}
.habititulo{
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 140%;
    padding-bottom: 50px;
}
ul.lista{
    padding-left: 40px;
    list-style: square;
}
ul.lista li{
    
    padding: 1%;
}
article{
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
    font-size: 100%;
}
#habi1{
    background: grey;
}
aside {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
    font-size: 100%;
}


/*inicio de servicios styling*/
#Servicios{
    padding-top: 5%;
    font-size: 20px;
}
.servi{
    width: 50%;
    float: left;
    text-align: left;
    height: 350px;
}
.servi h3{
    padding-top: 5%;
}
#incluido{
    background: rgb(231, 231, 231);
}
#noincluido{
    background: rgb(206, 201, 201);
}
.servi ul li{
    padding-left: 18%;
    padding-top: 5%
}
.separa{
    padding-left: 10px;
}

.seccion{
    width: 29%;
    float: left;
    margin: 2% 2%;
    text-align: center;
    font-size: 100%;
}
footer{
    background: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
}
.logofooter img{
    width: 40px;
    height: 40px;
}
.seccion ul li{
    display: inline-block;
    padding: 5%;
}
.seccion p{
    text-align: center;

}
/*contacto*/
#contacto{
    
    background: url(../img/tacna.jpg)
}
.cabecera{
    color: white;
    font-size: 100%;
}
.cabecera h1{
    color: white;
}
.cabecera p{
    text-align: center;
    font-size: 24px;
}

.form2{
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0.5%;
    text-align: center;
}
.form2 input{
    text-align: center;
    padding-bottom: 2%;
    padding-top:2%;
    padding-left: 7%;
    padding-right: 7%;
}
.formulario textarea{
    height: 200px; 
    width: 44%;
}
.btn-enviar{
    padding-top: 2.5%;
    text-align: center;
}
.btn-enviar input{
    width: 80px;
    height: 40px;
    font-size: 100%;
}

/*para dispositivos*/
@media screen and (max-width:768px){
    h1{
        font-size: 120%;
    }
    h2{
        font-size: 100%;
    }
    h3{
        font-size: 80%;
    }
    p{
        font-size: 70%;
    }
    header{
        position: absolute;
        background: rgb(231, 226, 226);
    }
    header nav{
        position: static;
        width: auto;
        height:auto;
        transform: translate(0%);

    }
    #logo{
        margin: 15px 0 20px -25px;
        background: url(../img/minilogo.fw.png) no-repeat center;
    }
    #menu-icon{
        display: inline-block;
    }
    nav ul, nav:active ul{
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: black;
        right: 20px;
        top: 60px;
        border: 1px solid #ffffff;
        border-radius: 10px 0 2px 2px;
        width: 50%;
    }
    nav::hover ul{
        display: block;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }
    .servi{
        font-size: 350%;
        width: 100%;
    }
    article{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    .hand-mobile{
        display: none;
    }
}