*{
	padding: 0;
	margin: 0;
}

body{
	background: rgba(128, 203, 196,1.0);
}

.contenedor{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-weight:bold;
}

.contenedor form{
	display: flex;
	flex-direction: column;
	text-align: center;
	background: rgba(255, 253, 231,1.0);
	padding: 1em 4em;
	border-radius: 20px; 
	border: none;
}

.contenedor h3{
	text-align: center;
	font-weight:bold;
	color: blue;
	font-size: 30px;
}

.reserva form{
	font-weight:bold;
	font-style: italic;
}

.contacto_campo{
	padding: 0.5em 1em;
	text-align: center;
	margin: 0.5em 0 1em 0;
	font-size: 15px;
	border-radius: 10px; 
	border: none;
	background: rgba(255, 224, 130,1.0);
}

.boton{
	padding: 1em 0;
	border-radius: 10px;
	border:none;
	color:blue;
	background: #95a5a6;
	margin: 0.5em 0 0.5em 0;
}